// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 48em =================================================== */

// Grid

// Susy Grid Variables
$total-columns  : 12;

// Layout

#main {
    @include span-columns(8 omega,12); // Susy
    @include box-sizing(border-box);

    padding: $gutter-width;
}
#sidebar {
    @include span-columns(4,12); // Susy
    @include box-sizing(border-box);
    
    padding: $gutter-width;
}
#content {
	padding-top: 1.5em;
}

// UI & Elements

.booking_form_div {
	@include clearfix;

	.block_hints {
		margin-bottom: 50px !important;
	}
}

form {
	.control-group {
		@include clearfix;
		@include span-columns(10,12);
		clear: both;
		margin-top: 0 !important;

		label {
			@include span-columns(4,12);
			padding-left: $gutter-width;
		}
		.controls {
			@include span-columns(8 omega,12);
		}
	}

	.btn-primary {
	}
}

// Header

header {

	#logo {
		@include span-columns(4,12);
		margin-bottom: 0;
	}

	nav {
		@include span-columns(8 omega,12);

		.nav-bar {
			margin-top: 2.75em;
			
			li {
				a {
					padding: 0 1.5em;
				}
			}
		}
	}
}

.sidebar {
	text-align: center;

	.button {
		display: block;
		margin: 0 auto 20px;
		max-width: 80%;
	}
}

// Components

.slip {

	li {
		.thumb {
			@include span-columns(3,12);
		}
		.length {
			@include span-columns(4,12);
		}
		.info {
			@include span-columns(5 omega, 12);
			clear: none;
		}
	}
}