// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

//// GRID

// Susy Grid Variables
$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-style: fluid;

//// ROOT

@-webkit-viewport { 
	width : device-width; 
}
@-moz-viewport { 
	width : device-width; 
}
@-ms-viewport { 
	width : device-width; 
}
@-o-viewport { 
	width : device-width; 
}
@viewport { 
	width : device-width; 
}

html {
	background : $lighterblue;
	font-size : 62.5%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	@include font-size();
	background-color : $lighterblue;
	font-family : $basefont;
	line-height : $baselineheight;
	color : $textcolor;
	margin : 0;
	padding : 0;
	width : 100%;
}

// Layout

.row {
	@include container; // Susy container
	max-width: 1080px;
}

// Header 

header {
	background: $white;
	padding: 2em 0 2.2em 0;

	#logo {

		a {
			@include hide-text();
			@include at2x(logo,246px,88px);
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto;
			height:88px;
			width:246px;
		}
	}
}

footer {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 10px;
	
	.copyright {
		color: $lightblue;
	}
}