// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

//// GRID

// Susy Grid Variables
$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-style: fluid;

//// ROOT

@-webkit-viewport { 
	width : device-width; 
}
@-moz-viewport { 
	width : device-width; 
}
@-ms-viewport { 
	width : device-width; 
}
@-o-viewport { 
	width : device-width; 
}
@viewport { 
	width : device-width; 
}

html {
	background : $lighterblue;
	font-size : 62.5%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	@include font-size();
	background-color : $lighterblue;
	font-family : $basefont;
	font-weight: $baseheadingfontweight;
	line-height : $baselineheight;
	color : $textcolor;
	margin : 0;
	padding : 0;
	width : 100%;
}

// Layout

.row {
	@include container; // Susy container
	max-width: 1080px;
}

// Header 

header {
	background: $white;
	padding: 2em 0 2.2em 0;

	#logo {

		a {
			@include hide-text();
			@include at2x(logo,246px,88px);
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto;
			height:88px;
			width:246px;
		}
	}
}

footer {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 10px;
	
	.copyright {
		color: $lightblue;
	}
}

.sidebar {
	.address {
		margin: 40px 0 20px;
	}
	.email, .map {
		margin: 0 10px;
	}
}

// Components

.slip {
	margin-left: 0 !important;

	li {
		@include border-radius(4px);
		@include clearfix();
		background: lighten($lighterblue,3%);
		border: 2px solid darken($lighterblue,3%);
		padding: 20px;
		margin-bottom: 20px;
		list-style: none;

		.thumb {
			@include span-columns(3,7);
			margin: 0 0 10px 0;
		}
		.length {
			@include span-columns(4 omega,7);
			color: $blue;
			font-weight: 700;
			@include font-size(36);
			line-height: 3.5;
			margin: 0 0 10px 0;
			text-align: center;
		}
		.info {
			display: block;
			clear: both;

			p {
				margin-bottom: 10px;
				@include font-size(14);
			}
		}
	}
}