.nav-bar {
    float: right;
    margin: 0;

    li {
        display: block;
        float: left;

        a {
            @include font-size(24);
            color: $gray;
            font-family: $altfont;

            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }

        &.current_page_item a {
            color: $blue;
        }
    }
}